[submodule "poky"]
	path = poky
	url = git@github.com:yoctoproject/poky.git
	branch = dunfell
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-security"]
	path = meta-security
	url = git://git.yoctoproject.org/meta-security
[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core
	branch = dunfell
[submodule "openembedded-core/"]
	branch = dunfill
